<section class="row">
    <section class="container">
<h3>
    Módulo corriente
</h3>
<h5>
    Datos sobre la corriente
</h5>
<mat-expansion-panel class="col s12 m12 l12">
    <mat-expansion-panel-header>
      <mat-panel-title>
        ID
      </mat-panel-title>
      <mat-panel-description>
        nombre
      </mat-panel-description>
    </mat-expansion-panel-header>
  <ul>
    <li>
        <label class="material-icons">
            flash_on
        </label>
         Intensidad:
    </li>
</ul>  
  </mat-expansion-panel>
    </section>
</section>
