<section class="row">
    <section class="container">
<h3>
    Módulo baterías 
</h3>
<h5>
    Datos de las baterías
</h5>
<mat-expansion-panel class="col s12 m12 l12">
    <mat-expansion-panel-header>
      <mat-panel-title>
        ID 
      </mat-panel-title>
      <mat-panel-description>
        nombre
      </mat-panel-description>
    </mat-expansion-panel-header>
  <ul>
    <li>
        <label class="material-icons">
            battery_charging_full
        </label>
         Voltaje: 
    </li>
    <li>
        <label class="material-icons">
            waves
        </label>
        Temperatura: }
    </li>
</ul>
  
  </mat-expansion-panel>
    </section>
</section>
