<section class="row">
    <section class="container">
        <div class="col s12 m12 l12">
                    <h5>Exportar datos</h5>
                    <p>
                        Por favor, seleccioná un rango de fechas
                    </p>
                        <label>
                            Desde
                        </label>
                        <input type="date">
                        <label>
                            Hasta
                        </label>
                        <input type="date">                                                              
                    <p>
                        Ahora seleccioná el módulo del cual queres exportar los datos
                    </p>
                    <div>
                    <mat-slide-toggle>Módulo Baterías</mat-slide-toggle>
                    </div>
                    <div>
                    <mat-slide-toggle>Módulo corriente</mat-slide-toggle>
                    </div>
                    <div>
                    <button>
                        Exportar
                    </button>
                    </div>
        </div>
    </section>
</section>


